@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oxanium:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}
body
{
  margin-left: 5px; /* Margem à esquerda */
  margin-right: 5px; /* Margem à direita */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-top: 0px;

}
.space
{
padding: 30px;
background-size: contain;
height: 300px;
width: 500px;
}

header {
    position: relative;
    width: 1340px;
    height: 600px;
}

.fundo,
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fundo {
    background-color: #4d004d;
    opacity: 0.90;
    z-index: 1; /* Coloca a cor acima da imagem */
}

.overlay {
    background-image: url(../img/logolotus.png);
    width: 1340px;
    height: 600px;
    background-size: contain;
    z-index: 0; /* Coloca a imagem abaixo da cor */
}

.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2; /* Coloca o conteúdo (imagem e texto) acima da cor e imagem de fundo */
}

.secImg {
    width: 40%;
    height: 80%;
    margin-top: 115px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; /* Coloca a imagem principal acima da cor */
}

.texto {
    width: 50%;
    padding: 20px;
    position: relative;
    font-size: 36px;
    color: white;
    font-family: agbalumo;
    z-index: 2; /* Coloca o texto acima da cor e imagem de fundo */
}

.center
{
    display: block;
    margin-left: auto;
 margin-right: auto;
}


h1
{   font-style: bold;
    display: inline-block;
}

.cabecalho {
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 3px 2px  #cccccc;
}

.inline {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-style: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block; /* Adiciona esta linha para garantir que os itens do dropdown apareçam verticalmente */
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}
.dropdown-content a:hover{
    background: #4d004d;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button
{
    background: linear-gradient(to right top,#cc00cc,#4d004d,black);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;



}
.button:hover {
    background: blue; /* Altera para verde ao passar o mouse */
    transition: background 0.5s;

}
.rodape
{
    
    background-color: #333;
    color: white;  

}
.cinza
{
    background-color: #e6e6e6;
}
hr
{
    max-width: 100%;
    padding: 1px;
    background-color: #4d004d;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4d004d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
a.sem-linha
{
    text-decoration: none;
    color: black;
}
.cursorcomum
{
    cursor: pointer;
}
.efeitocard
{
    padding: 30px;
background-size: contain;
height: 350px;
width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.caixa-texto {
    margin-top: 20px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    resize: none;
    overflow: auto;
    text-align: left; /* Alinha o texto à esquerda */
    vertical-align: top; /* Alinha o texto ao topo */
  }
 
 .text-pai {
    width: 50%;
    margin: 0 auto; /* Centraliza o container */
 }
 .carrossel {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
}
.slide img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* Isso fará com que a imagem preencha o espaço disponível sem distorcer */
 }

.box-informacao
{
    background-color: #ccc;
    color: #4d004d;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#comentario
{
    width: 50%;
    margin: 0 auto; /* Isso centralizará a barra de comentários horizontalmente */
    display: none; /* A barra de comentários começa oculta */
    align-items: center;
}
  